:root {
  --primary-color: #eb0000;
  --primary-color-hover: #c70000;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

/* Banner */
.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  min-height: 85vh;
  padding: 12px 24px;
  text-align: center;
}

.banner .background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:
    linear-gradient(to bottom, transparent 60%, white 80%),
    url(../Images/banner-img.png) center -50px no-repeat;
  background-size: cover;
  z-index: -1;
}

.banner .title {
  font-size: 60px;
}

.banner .title span {
  color: var(--primary-color);
  text-shadow: 0 0 6px rgba(25, 0, 255, .7);
  animation: blueYellowGlow 2s ease-in-out infinite alternate;
}

@keyframes blueYellowGlow {
  0% {
    text-shadow: 0 0 4px rgba(0, 255, 255, 0.3),
                 0 0 8px rgba(0, 255, 255, 0.2);
  }
  100% {
    text-shadow: 0 0 4px rgba(255, 204, 0, 0.3),
                 0 0 8px rgba(255, 204, 0, 0.2);
  }
}
