@import url(./carousel.css);

.solid-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border: none;
  border-radius: 50vh;
  padding: 10px 16px;
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.solid-button:hover {
  background-color: var(--primary-color-hover);
}

/* locations */
section.locations {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0px 24px 168px;
}

section.locations>h2 {
  font-size: 63px;
  text-align: center;
}

section.locations>h2>span {
  color: var(--primary-color);
}

.location-card {
  position: relative;
  flex-shrink: 0;
  border-radius: 15px;
  width: 100%;
  overflow: hidden;
}

.location-card>img {
  display: block;
  width: 100%;
}

.location-card>.content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #c93334;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, .5);
}

.location-card>.content>.border {
  background: linear-gradient(to right, #f0f0f0, #616161, #f0f0f0, #616161, #f0f0f0);
  height: 8px;
}

.location-card>.content>.text {
  padding: 6px 12px;
  color: white;
  text-align: center;
}

/* ================================================================== */
/* Tablet breakpoint */
@media only screen and (min-width: 920px) {

  /* locations */
  section.locations {
    padding: 0px 48px 40px;
  }
}