.web-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: linear-gradient(to bottom, transparent 60%, white 80%),
      url(../images/banner-img.jpg) center -50px no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 85vh;
  padding: 12px 24px;
  text-align: center;
}

.web-banner .title {
  font-size: 65px;
  margin: 0px;
}

.web-banner .title span {
  color: #eb0000;
}

.web-banner>* {
  max-width: 1200px;
}

.web-banner .desc {
  font-size: 16px;
}

.solid-button {
  font-size: 16px;
  border: none;
  border-radius: 50vh;
  padding: 10px 16px;
  background-color: #eb0000;
  color: white;
  text-decoration: none;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.solid-button:hover {
  background-color: #c70000;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
  cursor: pointer;
}

/* Transitions */
.animate-fadein {
  animation: fadeIn 1s ease-in-out forwards;
}

.animate-movedown {
  animation: moveDown 1s ease-in-out forwards;
}

.animate-scaleup {
  animation: scaleUp 1s .3s ease-in-out forwards;
}

.animate-fadein-delayed {
  animation: fadeIn 1s 1s ease-in-out forwards;
}

.animate-movedown-delayed {
  animation: moveDown 1s 1s ease-in-out forwards;
}

.hidden {
  opacity: 0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes moveDown {
  from {
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes scaleUp {
  from {
    transform: scale(.9, .9);
  }

  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}